.img{
    width: 100%;
    height: 5rem;
}

.App{
    background-image: linear-gradient(to bottom right,#4F7942,#228B22);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}